{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Unknown category
	{% endif %}
{% endblock %}
	
{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class="jumbotron-heading">Grab</h1>
	<div>
			<h2 class="h2">
			{% if user.is_authenticated %}
				Howdy {{ user.username }}, Welcome to Grab!
			{% else %}
				Hey there partner! Register to leave your comments in Grab!
			{% endif %}
			</h2>
		<strong>{{ boldmessage }}</strong>
		</div>
	</div>
</div>
	{% if category %}
	<h1>{{ category.name }}</h1>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href = "{{ page.url}}">{{ page.title}}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<strong>No pages currently in category.</strong>
	{% endif %}
	{% if user.is_authenticated %}
	<a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
	{% endif %}
	{% else %}
	The specified category does not exist.
	{% endif %}
{% endblock %}
